# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Build output (agar future me aaye)
dist/
build/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Docker volumes (local only)
mongo_data/

# Optional
*.local
